@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}

